.about {
  display: flex;
  flex-direction: column-reverse;
  max-width: 88%;
  margin: 0 auto;
  padding-top: 13rem;
}


@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    max-width: 92%;
    gap: 8rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@media (min-width: 1700px) {
  .about {
    max-width: 80%;
  }
}

.content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .content {
    flex: 1;
    gap: 2.5rem;
  }
}


.label {
  margin: 0;
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--subtitlesFont);
}
@media (min-width: 768px) {
  .label {
    font-size: 1.8rem;
  }
}

.title {
  margin: 0;

  color: var(--dark-blue);
  font-size: 4.5rem;
  font-weight: 700;
  font-style: italic;
  font-family: var(--titlesFont);
  text-transform: uppercase;
  padding: .8rem 0;

  text-shadow: 3px 2px 0 var(--rosa);
    
}
@media (min-width: 768px) {
  .title {
    font-size: 6.5rem;
  }
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: .6rem;
  color: var(--gray-dark);
  font-size: 1.7rem;
  font-weight: 600;
  font-family: var(--mainFont);
  line-height: 2.9rem;
  margin-right: 4rem;
}
.paragraphs p {
  margin: 0;
}

.techStack h3{
  color: var(--black);
}

.techStackList {
  color: var(--black);
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.image img{
  width: 100%;
  max-width: 34rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 6px solid var(--primary);
  object-fit: cover;
  padding: 0.7rem;
}