.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 10;
}

.bar {
  max-width: 85%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding-left: 15rem;
  }
}

.title {
  color: var(--dark-blue);
  font-size: 2.4rem;
  font-family: var(--subtitlesFont);
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.title span {
  color: var(--red);
}

@media (min-width: 768px) {
  .links {
    display: flex;
    gap: 2rem;
  }
}
.links a {
  position: relative;
  display: block;
  line-height: 3.2rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--subtitlesFont);
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--gray);

  transition: color .25s ease;
}

.links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--red);
  transition: width .25s ease;
}

.links a:hover {
  color: var(--dark-blue);
}

.links a:hover::after {
  width: 100%;
}

