.webTop {
  position: absolute;
  left: 0;
  opacity: .5;
}

.webTop img {
  width: 300px;
}
@media (min-width: 768px) {
  .webTop img{
    transform: translate(-130px, -50px);
    width: 700px;
  }
}
@media (min-width: 1400px) {
  .webTop img{
    transform: translateY(-90px);
    width: 700px;
  }
}
@media (min-width: 1920px) {
  .webTop img{
    transform: translateY(-60px);
    width: 700px;
  }
}


@media (min-width: 768px) {
  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
  }
}
.bar {
  padding: 2rem 0
}

.title {
  color: var(--dark-blue);
  font-size: 2.6rem;
  font-family: var(--subtitlesFont);
  font-style: normal;
  font-weight: 800;
  text-align: center;
}
.title span {
  color: var(--primary);
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    gap: 2rem;
  }
}
.nav a {
  display: block;
  line-height: 3.2rem;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  color: var(--gray);
}