.homeSection {
  position: relative;
  min-height: 100vh;
  overflow: hidden; 
}

.spidey {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  width: auto;
  z-index: -1;
}
@media (min-width: 1400px) {
  .spidey {
    height: 120vh;
    bottom: -100px;
  }
}

.webs {
  position: absolute;
  inset: 0;
  z-index: 0;
}
.webTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  opacity: .5;
}
@media (min-width:768px) {
  .webTop {
    width: 200px;
  }
}
@media (min-width:1024px) {
  .webTop {
    width: 300px;
  }
}


.webBottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  opacity: .5;
}
@media (min-width:768px) {
  .webBottom {
    width: 200px;
  }
}
@media (min-width:1024px) {
  .webBottom {
    width: 300px;
  }
}