:root {
  --primary: #A01515;
  --red: #DC2626;
  --lightRed: #F04954;
  --dark-blue: #111625;
  --gray-dark: #364153;
  --blue: #223067;
  --gray: #AEB0B3;
  --black: #0A0A0A;
  --white: #FFFFFF;
  --mainFont:  "Varela Round", sans-serif;
  --titlesFont: "Inter", sans-serif;
  --subtitlesFont: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  font-family: var(--mainFont);
  color: var(--white);
  font-size: 2rem;
  margin: 0;
}

